@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: rgb(194, 181, 181);
  min-height: 900px;
  background-image: url('../public/car.png'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0px;
  padding: 0;
  opacity: 0.9;
}

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  opacity: 1;
  color: rgb(0, 0, 0);
  font-family: Playfair Display;
  height: 80px;
  font-size: 65px;
  margin-bottom: 70px;
 /* Faster, smoother transition */
 transition: transform 0.5s ease;
}

h1:hover {
  transform: translateY(-5px);
  cursor:pointer;
}

table {
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 2px solid #0d0d0d;
  padding: 12px;
  font-size: 16px;
  color: #333;
}

th {
  background-color: #cdb8b8;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  color: #000000;
  font-size: 18px;
}

td {
  background-color: #fff;
}

button {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  background-color: #eeeb0f;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  font-family: Playfair Display;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
}

button:hover {
  background-color: #fbff00;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  cursoer:pointer;
}

.solidpie {
  margin: auto;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(29, 35, 31);
  opacity: 0.97;
  padding: 10px;
  border: solid white;
  border-radius: 50px;
  transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease; /* Faster transitions */
  margin-top: 20px;
}

.solidpie:hover {
  background-color: rgb(23, 28, 23);
  opacity: 1;
  transform: scale(1.05);
   /* Smoothly scales pie without affecting layout */
cursor:pointer;
  }

table th, table td {
  transition: background-color 0.2s ease;
}

table th:hover {
  background-color: #826969;
  cursor:pointer;

}

table td:hover {
  background-color: #f0f0f0;
  cursor:pointer;

}
